**/node_modules/**

.DS_Store
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea

docker/upload
docker/library
uploads
coverage

mobile/generated
mobile/gradle.properties
mobile/*.jks
mobile/libisar.dylib
mobile/ios/build

packages/**/build
mobile/android/fastlane/report.xml
mobile/ios/fastlane/report.xml

vite.config.js.timestamp-*
.pnpm-store
.gallery-local/
packages/gallery-*/.svelte-kit/
packages/gallery-*/.env
packages/gallery-*/.env.*
!packages/gallery-*/.env.example
deployment/gallery/.env
deployment/gallery/.env.*
!deployment/gallery/.env.example
.devcontainer/library
.devcontainer/.env*
*.tsbuildinfo
*.tsbuildInfo
